# Copyright 2025 Vijaykumar Singh <singhvjd@gmail.com>
#
# Capability Configuration for DevOps Vertical

vertical_name: devops

capabilities:
  - name: docker_management
    capability_type: tool
    version: "1.0"
    description: Docker container management
    tags:
      - docker
      - container
    handler_module: victor.devops.tools
    handler_function: docker_manager
    default_config:
      runtime: docker
      security_scan_enabled: true

  - name: deployment_safety
    capability_type: validator
    version: "1.0"
    description: Deployment safety checks and validation
    tags:
      - deployment
      - safety
    handler_module: victor.devops.validation
    handler_function: deployment_validator
    default_config:
      require_approval: true
      enable_rollback: true

  - name: infrastructure_as_code
    capability_type: workflow
    version: "1.0"
    description: Infrastructure as Code operations
    tags:
      - iac
      - terraform
    handler_module: victor.devops.iac
    handler_function: IaCManager
    default_config:
      tool: terraform
      require_plan: true
